body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gainsboro;
    background-color: black;
}

h1 {
    color: ghostwhite;
}

h3 {
    color: slateblue;
}

hr {
    border-color: slateblue;
}
