@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300;400;700&family=Play:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-title: "Play", "Helvetica";
    --font-elegant: "Playfair Display", "Arial";
    --font-regular: "Encode Sans Semi Expanded", "Times New Roman";

    --color-playblue: #2e6db4;
    --color-playlightblue: #6be4df;
    --color-playpurple: #767ee1;
    --color-playred: #df0024;
    --color-playlightred: #f75f66;
    --color-playpink: #f69dc8;
    --color-playyellow: #f3c300;
    --color-playgreen: #00ab9f;
    --color-playgray: #9299a9;
    --color-playblack: #0d0d0d;
}